html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
h1{
    margin: 0;
}
#logo{
    background-color: #D3D4CF;
}
#logo img{
    width: 180px;
    padding: 0 50px;
}
#menu{
    background-color: #f2bd12;
    padding: 1px;
    position: sticky;
    top: 0;
}
#menu ul{
    text-align: center;
}
#menu li{
    display: inline;
    padding: 14px;
}
#menu a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
#menu li:hover{
    background-color: #2D232E;
}
header >img{
    width: 100%;
}
#servicios, #detalle{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
h2{
    text-align: center;
    color: #f2bd12;
    
}
.contenedor{
    border: 2px solid rgb(253, 249, 194);
    box-shadow: 2px 2px 4px rgb(206, 179, 24);
    width: 25%;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
}
.contenedor > img{
    width: 270px;
}
#servicios p, #detalle p{
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #f2bd12;
    padding: 5px 0;
    border-radius: 14px;
}
#detalle{
    clear:left;
}
footer{
    background-color: #2D232E;
    color: #dbdada;
    text-align: center;
    clear: both;
    padding: 15px;
}
footer img{
    width: 50px;
    margin: 0 10px;
}
footer #whatsapp{
    border-radius: 30px;
}

/* index5 css */
html {
    font-family: "Montserrat", Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    background: #f2f3eb;
  }
  
  button {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  input,
  select,
  textarea {
    color: #5a5a5a;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  
  form {
    padding: 37.5px;
    margin: 50px 0;
    width: 1004px;
    height: 400px;
    padding-left: 490px;

 
  }
  
  h1 {
    padding-top: 15px;
    color: #F2BD12;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
    float: right;
    width: 45%;
  }
  
  input[type="text"],
  [type="email"],
  select,
  textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  input[type="text"]:focus,
  [type="email"]:focus,
  textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
  }
  
  .message {
    float: none;
  }
  
  .name {
    float: left;
    width: 45%;
  }
  
  select {
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
      no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
    color: #474544;
  }
  
  :-moz-placeholder {
    color: #474544;
    opacity: 1;
  }
  
  ::-moz-placeholder {
    color: #474544;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: #474544;
  }
  
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #f2f3eb;
  }



#mapa iframe{
    position: relative;
    width: 1950px;
    
}







